

#oauth #register-form,
#oauth #login-form{
	display: none;

}

#oauth #showRegisterForm,
#oauth #showLoginForm{
	cursor: pointer;
	color: #007ab2;
	text-decoration: underline;
}

#oauth #register-form .optin-privacy .required{
	color: #ff4040;
}
