{{--
    templates/blade/hideRegisterForm.blade

    Copyright (c) 2026 Simon Fraser University
    Copyright (c) 2026 John Willinsky
    Distributed under the GNU GPL v3. For full terms see the file LICENSE.

    Blade counterpart of smarty/hideRegisterForm.tpl.
--}}
@extends('frontend.pages.userRegister')
@section('userRegisterForm')
    <a href="{{ ViewHelper::url(['page' => 'login']) }}" class="login">{{ __('user.login') }}</a>
@endsection
