{{--
    templates/blade/hideLoginForm.blade

    Copyright (c) 2026 Simon Fraser University
    Copyright (c) 2026 John Willinsky
    Distributed under the GNU GPL v3. For full terms see the file LICENSE.

    Blade counterpart of smarty/hideLoginForm.tpl. Extends the view name, so the active
    theme's page is the parent.
--}}
@extends('frontend.pages.userLogin')
@section('userLoginForm')@endsection
