{{--
    templates/blade/hideApiKeyActions.blade

    Copyright (c) 2026 Simon Fraser University
    Copyright (c) 2026 John Willinsky
    Distributed under the GNU GPL v3. For full terms see the file LICENSE.

    Blade counterpart of smarty/hideApiKeyActions.tpl.
--}}
@extends('user.apiProfileForm')
@section('apiKeyActions')@endsection
